<div class="docs-header">
    <nav class="navbar navbar-default navbar-custom" role="navigation">
      <div class="header-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/survey/list"><img src="/img/survey.jpg" height="40"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link current" href="/login">Login</a></li>
            <li><a class="nav-link" href="/survey/list">Participate Survey</a></li>
            <li><a class="nav-link" href="/about">About Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
</div>