<div class="account-page">
<h3>User Home</h3>
<h4>Welcome, {{username}}!</h4>
<img src="img/myfamily.jpg" alt="my family" class="img-responsive">
</div>

<div class="container-fluid text-center bg-grey">
  <h2>Portfolio</h2>
  <h4>What we have created</h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
      <img src="img/gwangju.jpg" alt="my family" class="img-responsive">
        <p><strong>Paris</strong></p>
        <p>Yes, we built Paris</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
      <img src="img/benz.jpg" alt="my family" class="img-responsive">
        <p><strong>New York</strong></p>
        <p>We built New York</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
      <img src="img/wife.jpg" alt="my family" class="img-responsive">
        <p><strong>San Francisco</strong></p>
        <p>Yes, San Fran is ours</p>
      </div>
    </div>
</div>