<h1>Please Choose What You Think</h1>
<script>var content = {{{content}}};</script>
<form name="surveyForm" class="form-horizontal localLoginForm" role="form" action="/survey/participate?form=survey" method="POST" onsubmit="return validateForm()">
<input type="hidden" name="_csrf" value="{{_csrfToken}}">

<div id="questionnaire">
</div>
<button type="submit" class="btn btn-default">Submit</button>
</form>
{{#section 'jquery'}}
    <script>
        $(document).ready(function(){
           var radioHtml = 'Highly Unlikely <input type="radio" name="editList%%%" value="HighlyUnlikely">';
           radioHtml += '<span class="choiceLabel">Unlikely</span> <input type="radio" name="editList%%%" value="Unlikely">';
           radioHtml += '<span class="choiceLabel">NotSure</span> <input type="radio" name="editList%%%" value="NotSure">';
           radioHtml += '<span class="choiceLabel">Likely</span> <input type="radio" name="editList%%%" value="Likely">';
           radioHtml += '<span class="choiceLabel">Highly Likely</span> <input type="radio" name="editList%%%" value="HighlyLikely">';
           content.forEach(function(data, idx){
             if(!!data && data.length>0) {
                 $("<div> <span class='question'><h5>" + data + "</h5></span> <span class='choice'>" + radioHtml.replace(/%%%/gi, idx.toString()) + "</span><hr></div>").appendTo("#questionnaire");
               }
            });
        });
        function validateForm() {
            var x = document.forms["surveyForm"]["editList1"].value;
            if (x == "") {
                alert("All button MUST be selected");
                return false;
            }
        }
    </script>
{{/section}}
