body {
    font: "Montserrat", sans-serif;
    line-height: 1.8;
}

.navbar-custom {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    z-index: 2000;
}

.container {
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.external-login-button, .register-button {
    margin: auto;
    width: 30%;
}

#loginForm {
    padding-top: 50px;
}

.choice {
    font-size: 1.2em;
}

.choice .choiceLabel {
    padding-left:25px;
}

.createSurvey .formContainer {
    padding-top: 30px;
}

footer {
    margin-left: 20px;
}

.account-page img {
    width: 100%;
}

.account-page .nav-tabs li a {
    color: #777;
}

.about-page .panel {
    border: 1px solid #f4511e; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.about-page  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.about-page .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.about-page  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.about-page .panel-footer {
    background-color: #fff !important;
}

.about-page .panel-footer h3 {
    font-size: 32px;
}

.about-page .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.about-page .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}

.download-page {
    padding-top: 50px;
}